services:
  - type: web
    name: laravel-mongo-app
    env: docker
    region: oregon
    plan: free
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: "false"
      - key: LOG_CHANNEL
        value: single
      - key: PORT
        value: "8000"
